body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.goraymi.com/2021/01/25/f05d9c24a842b966877f146bbbf3538b_xl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: none;
    border-radius: 10px;
    font-size: larger;
}

h1 {
    font-weight: bold; /* Texto en negrita */
    color: #feef1f; /* Texto blanco para contrastar con el fondo */
    text-align: center;
    font-family: fantasy;
    filter: brightness(1.5)
}

p {
    font-family: fantasy;
    color: #000;
    filter: brightness(1.5)
}

.h2__1 {
    text-align: center;
    font-family: fantasy;
    color: #FF6600;
    filter: brightness(1.5)
    filter: saturate(2);
}

h2 {
    color: #00ff00d5;
    font-weight: 2000;
    filter: brightness(20)
    filter: saturate(10);
    font-size: larger;
    font-family: fantasy;
    
}

.cocktail {
    background-color: none;
    margin: 10px 0;
    padding: 10px;
}

.cocktail h2 {
    margin: 0;
}

.cocktail p {
    margin: 0;
}

@media (max-width: 600px) {
    .cocktail {
        padding: 5px;
    }
}